@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
#bg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fc4a55;
    transition: 0.5s;
}
#bg::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: rgba(0,0,0,0.1);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header #logo
{
    position: relative;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
header #navigation
{
    position: relative;
    display: flex;
}
header #navigation li
{
    list-style: none;
}
header #navigation li a{
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 40px;
}
header #navigation li a.active,
header #navigation li a:hover
{
    background: #fff;
    color: #000;
    transition: 0.5s;
}
main
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main #content
{
    position: relative;
    max-width: 600px;
}
main #content h2
{
    font-size: 4em;
    font-weight: 700;
    line-height: 1.2em;
    color: #fff;
}
main #content p
{
    color: #fff;
    margin-top: 20px;
}
main #content a
{
    display: inline-block;
    text-decoration: none;
    color: #333;
    background: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 20px;
    margin-top: 20px;
    border-radius: 40px;
}
main #fruits_img
{
    position: relative;
    width: 600px;
    display: flex;
    justify-content: flex-end;
}
main #fruits_img img
{
    max-width: 400px;
    animation: bounceImage 5s infinite ease-in-out;
}

@keyframes bounceImage {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-25px) rotate(10deg);
    }

    100%{
        transform: translateY(0px) rotate(0deg); 
    }
  }

#thumb
{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
#thumb li
{
    display: inline-block;
    list-style: none;
    margin: 0px 10px;
    padding: 5px;
    cursor: pointer;
    height: 70px;
    background: rgba(255,255,255,0.1);
    border: 2px solid rgba(255,255,255,0.25);
    transition: 0.5s;
    z-index: 1;
}
#thumb li::before
{
    position: absolute;
    content: attr(data-text);
    bottom: 70px;
    left: -50px;
    white-space: nowrap;
    font-size: 8em;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.05);
    opacity: 0;
    pointer-events: none;
}
#thumb li.active::before
{
    opacity: 1;
}
#thumb li.active 
{
    border: 2px solid rgba(255,255,255,1);
}
#thumb li img
{
    max-width: 60px; 
}
#social_icon
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#social_icon li
{
    list-style: none;
}
#social_icon li a
{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.5);
    filter: invert(1);
}


/** responsiove **/

@media (max-width: 1024px)
{
    main #content h2 {
        font-size: 3em;
        font-weight: 600;
    }

    #thumb li::before
    {
        font-size: 6em;
        font-weight: 600;
        bottom: 30px;
    }
}

@media (max-width: 950px)
{
    section 
    {
        padding: 50px;
    }
    header 
    {
        padding: 20px 50px;
    }
    main #content 
    {
        max-width: 700px;
    }
    main #fruits_img 
    {
        width: 500px;
    }
    main #fruits_img img 
    {
        max-width: 300px;
    }
    main #content h2 {
        font-size: 2em;
        font-weight: 600;
    }
    main #content p {
        font-size: 14px;
        margin-top: 10px;
    }
    #social_icon 
    {
        right: 10px;
    }
}
@media (max-width: 700px) {
    #bg::before {
        width: 0;
        height: 0;
    }
    main 
    {
        margin-top: 75px;
        flex-direction: column;
    }
    main #content
    {
        max-width: 100%;
    }
    main #fruits_img {
        max-width: 100%;
        justify-content: center;
        margin-bottom: 100px;
    }
    #thumb li
    {
        margin: 0px 3px;
    }
    #thumb li::before
    {
        font-size: 5em;
        bottom: 50px;
    }
    #social_icon {
        background: rgba(0, 0, 0, 0.3);;
    }
}

@media (max-width: 590px) {
    header 
    {
        padding: 20px 20px 20px 50px;
    }
    header #navigation li a 
    {
        padding: 8px 10px;
    }
}

@media (max-width: 535px) {
    header #navigation
    {
        display: none;
    }
    header #navigation.active
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fc4a55;
        z-index: 10;
    }
    #toggle
    {
        position: relative;
        width: 30px;
        height: 30px;
        background: url('images/menu.png');
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 10000;
    }
    #toggle.active
    {
        position: fixed;
        right: 20px;
        background: url('images/close.png');
        background-size: 30px;
    }
}

@media (max-width: 460px) {
    #thumb li::before
    {
        left: 50px;
        font-size: 3.5em;
        font-weight: 500;
    }
}




